<form #ngForm="ngForm" (ngSubmit)="submit(ngForm)">
    <div class="AddModal">
        <div class="AddModal-formRow">
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label>Логин</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.login"
                    name="login"
                    required
                >
                <mat-error>
                    Введите логин
                </mat-error>
            </mat-form-field>
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label>Пароль</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.password"
                    name="password"
                    required
                >
                <mat-error>
                    Введите пароль
                </mat-error>
            </mat-form-field>
        </div>
        <div class="AddModal-formRow">
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label>Фамилия</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.firstName"
                    name="firstName"
                    required
                >
                <mat-error>
                    Введите фамилию
                </mat-error>
            </mat-form-field>
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label>Имя</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.lastName"
                    name="lastName"
                    required
                >
                <mat-error>
                    Введите имя
                </mat-error>
            </mat-form-field>
        </div>
        <div class="AddModal-formRow">
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label>Отчество</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.middleName"
                    name="middleName"
                >
                <mat-error>
                    Введите отчество
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="AddModal-field">
                <mat-label>Дата рождения</mat-label>
                <input 
                    matInput 
                    [matDatepicker]="picker"
                    [(ngModel)]="data.dateBirth"
                    name="dateBirth"
                    required
                    >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="AddModal-formRow">
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label>Телефон</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.phone"
                    name="phone"
                    required
                >
                <mat-error>
                    Введите номер
                </mat-error>
            </mat-form-field>
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label>Домашний телефон</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.phoneHome"
                    name="phoneHome"
                    required
                >
                <mat-error>
                    Введите номер
                </mat-error>
            </mat-form-field>
        </div>
        <div class="AddModal-formRow">
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label>Email</mat-label>
                <input 
                    matInput
                    [(ngModel)]="data.email"
                    name="email"
                    required
                >
                <mat-error>
                    Введите адрес
                </mat-error>
            </mat-form-field>
            <div class="AddModal-passportBlock">
                <mat-form-field class="AddModal-passportSeral" appearance="fill">
                    <mat-label>Серия</mat-label>
                    <input 
                        matInput
                        [(ngModel)]="data.docSerial"
                        name="docSerial"
                        required
                    >
                    <mat-error>
                        Введите номер
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="AddModal-field" appearance="fill">
                    <mat-label>Номер паспорта</mat-label>
                    <input 
                        matInput
                        [(ngModel)]="data.docNumber"
                        name="docNumber"
                        required
                    >
                    <mat-error>
                        Введите номер
                    </mat-error>
                </mat-form-field>
            </div>
           
        </div>
        <div class="AddModal-formRow">
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label >Выберите подразделение</mat-label> 
                <mat-select [(ngModel)]="data.filialId" name="filialId" required>
                    <mat-option *ngFor="let office of officeSelectOpts" [value]="office.value">
                        {{office.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="AddModal-field" appearance="fill">
                <mat-label >Выберите роль</mat-label> 
                <mat-select [(ngModel)]="data.role" name="role" required>
                    <mat-option *ngFor="let roleItem of rolesSelectOpts" [value]="roleItem.value">
                        {{roleItem.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
       
        <button
            mat-stroked-button
            type="submit"
            color="primary"
            cdkFocusInitial
            class="AddModal-addBtn"
            >
            Сохранить
        </button>
    </div>
</form>