.SideNav {
    width: 250px;
    min-height: 100vh;
    height: 100%;
    background-color: #fbfbfb;

    &-header {
        background-color: #fbfbfb;
        height: 80px;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        outline: none;
    }

    &-logo {
        height: 55px;
        cursor: pointer;
    }

    &-headerText {
        margin-left: 10px;
        padding: 10px 0px 10px 0;
        font-size: 10px;
        text-transform: uppercase;
        color: black;
    }

    &-menuItem {
        width: 100%;
        text-align: start;
        text-transform: uppercase;
    }

    &-subMenuBtn {
        width: 250px;

    }
}