<div class="SideNav">
    <div class="SideNav-header" [routerLink]="['/']">
        <img class="SideNav-logo" src="/assets/images/mvd_logo.png">
        <div class="SideNav-headerText">
            МИНИСТЕРСТВО ВНУТРЕННИХ ДЕЛ РФ
        </div>
    </div>
    <button class="SideNav-menuItem" mat-button [routerLink]="['/filials']">Подразделения</button>
    <button class="SideNav-menuItem" mat-button [matMenuTriggerFor]="users">Пользователи</button>
    <mat-menu class="SideNav-subMenu" #users="matMenu">
        <button 
            class="SideNav-subMenuBtn"
            *ngFor="let filial of filials"
            mat-menu-item [routerLink]="['/users', filial.id]"
            >
            {{filial.name}}
        </button>
    </mat-menu>
    <button class="SideNav-menuItem" mat-button  [routerLink]="['/roles']">Роли</button>
</div>