<div class="FilialsList">
    <div class="FilialsList-header">
        <div class="FilialsList-title">Подразделения</div>
        <div class="FilialsList-buttons">
            <button mat-raised-button class="FilialsList-addBtn" color="primary" (click)="openAddFilialModal()">добавить</button>
        </div>
    </div>
    <div class="FilialsList-content">
        <div class="FilialsList-filialsBlock">
            <div class="FilialsList-blockHeader">Подразделения</div>
            <div class="FilialsList-filialsList">
                <div 
                    class="FilialsList-filialItem"
                    *ngFor="let filial of filials"
                    >
                    {{filial.filialNameShort}}
                </div>
            </div>
        </div>
    </div>
</div>