<div class="Users">
    <div class="Users-header">
        <div class="Users-title">Пользователи ({{currentFilial? currentFilial.filialNameShort : 'Все'}})</div>
        <div class="Users-buttons">
            <button mat-raised-button class="Users-addBtn" (click)="openAddModal()" color="primary">добавить</button>
        </div>
    </div>
    <div class="Users-content">
        <div class="Users-usersList">
            <div class="Users-blockHeader">Пользователи</div>
            <div 
                class="Users-userItem"
                [ngClass]="{'Users-userItem--active': activeUser === user}"
                *ngFor="let user of usersList"
                (click)="showRoles(user)"
                >
                {{user.userFioAll}}
            </div>
        </div>
        <div class="Users-usersList" *ngIf="activeUser">
            <div class="Users-blockHeader">Роли</div>
            <div class="Users-userItem" *ngFor="let role of roleList">
                <mat-checkbox
                    [(ngModel)]="activeRoles[role.roleID]"
                    (ngModelChange)="saveChanges(role.roleID)"
                    [color]="'primary'"
                    name="role"
                >
                    {{role.roleName}}
                </mat-checkbox>
            </div>
        </div>
    </div>
</div>