.Users {
    padding: 20px 40px;
    position: relative;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }

    &-blockHeader {
        padding: 10px 5px;
        height: 40px;
        width: 100%;
        color: #9a9999;
        background-color: #fbfbfb;
    }

    &-title {
        font-size: 24px;
        line-height: 40px;
        color: #707173;
    }

    &-addBtn {
        height: 50px;
        width: 150px;
        text-transform: uppercase;
        font-size: 12px;
    }

    &-saveBtn {
        height: 50px;
        width: 150px;
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 20px;
    }

    &-content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &-cityRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid #f1f1f1;
        // &:first-child {
        //     border-top: transparent;
        // }
    }

    &-cityId {
        color: black;
        font-size: 16px;
    }

    &-devider {
        height: 10px;
        width: 1px;
        background-color: #f1f1f1;
        margin: 0 20px;
    }

    &-cityName {
        color: black;
        font-size: 16px;
    }

    table {
        width: 100%;
    }

    th {
        text-transform: uppercase;
    }

    &-usersList {
        max-height: calc(100vh - 168px);
        border: 1px solid #fbfbfb;
        width: 300px;
        margin-right: 15px;
    }

    &-userItem {
        width: 100%;
        padding: 10px 5px;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }

        &--active {
            background-color: #5dc5ed;
            color: white;
        }
    }
}