<form class="LoginForm" #loginForm="ngForm" (submit)="submit()">
    <div class="LoginForm-title">
        Вход в личный кабинет
    </div>
    <mat-form-field class="LoginForm-field" appearance="fill">
        <mat-label>Логин</mat-label>
        <input 
            matInput
            [(ngModel)]="form.email" 
            name="email"
            required
        >
        <mat-error>
            Введите Ваш логин
        </mat-error>
    </mat-form-field>
    <mat-form-field class="LoginForm-field" appearance="fill">
        <label>Пароль</label>
        <input 
            matInput 
            [(ngModel)]="form.password" 
            name="password" 
            type="password"
            required
        >
        <mat-error>
            Введите Ваш пароль
        </mat-error>
    </mat-form-field> 
    <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="isAuthInProgress"
        class="LoginForm-submit"
        >
        Войти
    </button>
    
    <div *ngIf="authError" class="LoginForm-error">
        Ошибка авторизации. Неверный email или пароль.
    </div>
</form>