<div class="AddModal" mat-dialog-content>
    <mat-form-field class="AddModal-field" appearance="fill">
        <mat-label>Введите роль</mat-label>
        <input 
            matInput
            [(ngModel)]="data.value"
            name="value"
            required
        >
        <mat-error>
            Введите роль
        </mat-error>
    </mat-form-field>
    <button
        mat-stroked-button
        [mat-dialog-close]="data"
        color="primary"
        cdkFocusInitial
        class="AddModal-addBtn"
        >
        Добавить
    </button>
</div>