.AddModal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;

    &-addBtn {
        width: 150px;
        height: 50px;
        text-transform: uppercase;
        font-size: 11px;
        min-width: 150px;
    }

    &-field {
        width: 100%;
        margin-right: 20px;
    }
}