<div class="RolesList">
    <div class="RolesList-header">
        <div class="RolesList-title">Роли</div>
        <div class="RolesList-buttons">
            <button mat-raised-button class="RolesList-saveBtn" color="basic">Сохранить</button>
            <button mat-raised-button class="RolesList-addBtn" color="primary" (click)="openAddModal()">добавить роль</button>
            <button mat-raised-button class="RolesList-addBtn" color="primary" (click)="openAddModuleModal()">добавить модуль</button>
        </div>
    </div>
    <div class="RolesList-content">
        <div class="RolesList-rolesBlock">
            <div class="RolesList-blockHeader">Роли</div>
            <div class="RolesList-rolesList">
                <div 
                    class="RolesList-roleItem"
                    (click)="showModules(role)"
                    *ngFor="let role of roles"
                    [ngClass]="{'RolesList-roleItem--active': currentRole === role}"
                    >
                    {{role.roleName}}
                </div>
            </div>
        </div>
        <div class="RolesList-moduleBlock" *ngIf="currentRole">
            <div class="RolesList-blockHeader">Модули</div>
            <div class="RolesList-modulesList">
                <div 
                    class="RolesList-moduleItem"
                    *ngFor="let module of modules"
                    (click)="chooseModule(module)"
                    [ngClass]="{'RolesList-moduleItem--active': currentModule === module}"
                >
                    {{ module.moduleName }}
                </div>
            </div>
        </div>
        <div class="RolesList-rootBlock" *ngIf="currentModule">
            <div class="RolesList-roots">
                <div class="RolesList-blockHeader">Список действий</div>
                <div 
                    class="RolesList-rootItem"
                    *ngFor="let rule of currentModule.rules; let $index = index"
                >
                    <mat-checkbox
                        [color]="'primary'"
                        [(ngModel)]="form[currentModule.id][$index].isActive"
                        name="root"
                        class="RolesList-checkbox"
                    >
                        {{ rule.ruleName}}
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>