.RolesList {
    padding: 20px 40px;
    position: relative;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }

    &-title {
        font-size: 24px;
        line-height: 40px;
        color: #707173;
    }

    &-addBtn {
        height: 40px;
        width: 150px;
        text-transform: uppercase;
        font-size: 12px;
        margin-left: 20px;
    }

    &-saveBtn {
        height: 40px;
        width: 150px;
        text-transform: uppercase;
        font-size: 12px;
    }

    &-content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &-rolesList {
        width: 100%;
    }

    &-rolesBlock {
        max-height: calc(100vh - 168px);
        border: 1px solid #fbfbfb;
        width: 250px;
        min-width: 250px;
        margin-right: 15px;
    }

    &-roleItem {
        width: 100%;
        padding: 10px 5px;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }

        &--active {
            background-color: #5dc5ed;
            color: white;
        }
    }

    &-moduleBlock {
        max-height: calc(100vh - 168px);
        border: 1px solid #fbfbfb;
        width: 260px;
        min-width: 260px;
        margin-right: 15px;
    }

    &-moduleItem {
        width: 100%;
        padding: 10px 5px;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }

        &--active {
            background-color: #5dc5ed;
            color: white;
        }
    }

    &-blockHeader {
        padding: 10px 5px;
        height: 40px;
        width: 100%;
        color: #9a9999;
        background-color: #fbfbfb;
    }

    &-rootBlock {
        width: 100%;
        min-width: 250px;
    }

    &-rootItem {
        padding: 8px 5px;
    }
}